@font-face {
    font-family: 'Anton';
    src: url(../public/fonts/Anton-Regular.ttf ) format('truetype');
}

.granGolTipo{
    font-family: 'Anton';
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top:0px;
    left: 0px;
  }
.main {
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

.article{
    margin-top: 2em;
    width: 80%;
    margin: auto;
    font-size: 14pt;
}

.containerImatge{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.peuFoto{
  font-size: 10pt;
  font-family: 'Courier New', Courier, monospace;
}