@font-face {
  font-family: 'Anton';
  src: url(../public/fonts/Anton-Regular.ttf ) format('truetype');
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textMenu{
  height: 20%;
  margin-top: 15px;
  flex: 1;
 
}

.textMenu  a:hover{
  color:grey;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #268b07;
  margin-bottom: 0px;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  margin-left: 1em;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.newsletter{
  color: white;
  font-weight: bold;
  background-color: black;
  padding: .5em 1em .5em 1em;
}

.newsletter:hover{
  color: black;
  font-weight: bold;
  background-color: yellow;
  padding: .5em 1em .5em 1em;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.titolPrincipal {
  -webkit-text-stroke: 3px black;
  font-family: 'Anton';
  font-size: 4em;
  max-width: 900px;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
}

.subtitolPrincipal{
  margin-top: 0px;
  font-size: 1.5em;
}

.supportContainer{
  margin-top: 2em;

}
.support{
  margin-left: .2em;
  color: white;
  font-size: 2em;
  font-weight: bold;
  background-color: black;
  padding: 1em 1.5em 1em 1.5em;
}

.support:hover{
  margin-left: .1em;
  color: black;
  font-size: 2.5em;
  font-weight: bold;
  background-color: yellow;
  padding: 1em 1.5em 1em 1.5em;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.support:active{
  margin-left: .1em;
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  background-color: red;
  padding: 1em 1.5em 1em 1.5em;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.botoneraContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 20%;
}