@font-face {
    font-family: 'Anton';
    src: url(../public/fonts/Anton-Regular.ttf ) format('truetype');
}

@media(min-width:768px){
.PageHeader{
    width: 100%;
    h1{
        padding-left: 1em;        
        font-family: 'Anton',sans-serif;
        margin-bottom: 0.2em;
    }
    h2{
        padding-left: 1em;
        font-size: 14pt;
        margin-top: 0px;
        background-color: #268b07;
        color: white;
        padding-top: 0.1em;
        padding-bottom: 0.2em;
    }
    .TitleLine{
        display: flex;
        flex-direction: row;
        justify-content: initial;
        align-items: initial;
    }
    .pilota{
        margin-right: 0.5em;   
        margin-bottom: 0px;
        align-items: baseline;
        align-content: flex-end;
        :hover{
            cursor: pointer;
        }     
    }

    p{
        margin-top: 0px;
        padding-left: 2em;
    }
}
}
@media(max-width:768px){
.PageHeader{
    width: 100%;
    padding: 0em 0.5em 0em 0.5em;
    h1{
        padding-left: 0.5em;
    }
    .TitleLine{
        display: flex;
        flex-direction: row;
        justify-content: initial;
        align-items: initial;
    }
    .pilota{
        margin-right: 0.5em;   
        margin-bottom: 0px;
        align-items: baseline;
        align-content: flex-end;
        :hover{
            cursor: pointer;
        }     
    }

    p{
        margin-top: 0px;
        padding-left: 1em;
        padding-right: 0.5em;
    }
}
}