.contenidorNav{
    width: 100%;
    padding-top: .75em;
    padding-right: .75em;
    display: flex;    
    justify-content: flex-end;
}
.botoIdioma{
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    margin-left: .75em;
    margin-right: .751em;
}